source=Sayoi
cloth=./cloth/student2.jpg
SwapMode=image_edit
Key=./image2image2026.txt
AutoClothDescription=true
ImageEditResolution=2k
ImageEditQuality=high
ParseClothReference=true
# OOTDiffusionDir=../OOTDiffusion
OOTDiffusionPython=../LipSync2/.venv/Scripts/python.exe
# ModelType=hd
# Category=0
# Scale=2.0
# Step=20
# Sample=1
# Seed=42
