# Prompt variable config (key=value)
# Used for substituting placeholders like {SwitchColor} in prompt templates.
SwitchColor=pink and light blue gradient color
SwitchCountry=Japanese
Prompt=./prompt/mr-c1.txt
Key=image2image2026.txt
Source=./images/Yumeno/pic-bf-beach.jpg
Output=./images/Yumeno/mr-c1-swap.jpg

FileNumbers=20


FaceFusionDir=../facefusion
# FaceFusionScript=../facefusion/facefusion.py
FaceFusionPython=../facefusion/.venv/Scripts/python.exe
# FFmpegBinDir=C:/Users/User.LenovoTMS.000/AppData/Local/Microsoft/WinGet/Packages/Gyan.FFmpeg_Microsoft.Winget.Source_8wekyb3d8bbwe/ffmpeg-8.1-full_build/bin
JobsPath=./.facefusion/jobs
TempPath=./.facefusion/temp
Processors=face_swapper
FaceSwapperModel=inswapper_128_fp16
FaceSwapperPixelBoost=256x256
FaceSwapperWeight=0.5
FaceSelectorMode=one
FaceSelectorOrder=large-small
FaceMaskTypes=box occlusion
FaceMaskBlur=0.3
LogLevel=debug
# FaceMaskPadding=0 0 0 0
# ReferenceFaceDistance=0.3
# ReferenceFacePosition=0
# ReferenceFrameNumber=0
# OutputImageQuality=95
# OutputImageScale=1.0
# ExtraArgs=--execution-providers cpu
