Source=./images/Kamiki/pic-bfgrok-93.png
Target=./images/Kamiki/cloth1.jpg
Output=./images/Kamiki/cloth1-swap.png
FaceFusionDir=../facefusion
# FaceFusionScript=../facefusion/facefusion.py
FaceFusionPython=../facefusion/.venv/Scripts/python.exe
# FFmpegBinDir=C:/Users/User.LenovoTMS.000/AppData/Local/Microsoft/WinGet/Packages/Gyan.FFmpeg_Microsoft.Winget.Source_8wekyb3d8bbwe/ffmpeg-8.1-full_build/bin
JobsPath=./.facefusion/jobs
TempPath=./.facefusion/temp
Processors=face_swapper
FaceSwapperModel=inswapper_128_fp16
FaceSwapperPixelBoost=256x256
FaceSwapperWeight=0.5
FaceSelectorMode=one
FaceSelectorOrder=large-small
FaceMaskTypes=box occlusion
FaceMaskBlur=0.3
# FaceMaskPadding=0 0 0 0
# ReferenceFaceDistance=0.3
# ReferenceFacePosition=0
# ReferenceFrameNumber=0
# OutputImageQuality=95
# OutputImageScale=1.0
# ExtraArgs=--execution-providers cpu